@page
@model AccessTokenModel
@{
    ViewData["Title"] = "Access Token";
    ViewData["ActivePage"] = ManageNavPages.AccessToken;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>To connect your data in extension use next Access Token:</p>

        <p>
            @ViewData["accessToken"]
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}